<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthorization" />
                <binding name="BasicHttpBinding_IAccountManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64579/BankingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountManager"
                contract="Service.IAccountManager" name="BasicHttpBinding_IAccountManager" />
            <endpoint address="http://localhost:64579/BankingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthorization"
                contract="Service.IAuthorization" name="BasicHttpBinding_IAuthorization" />
        </client>
    </system.serviceModel>
  
</configuration>